/*.top2 li {
				float: left;
				text-align: center;
				list-style: none;
				padding: 0 10px;
				
			}
			*/
		.parent{
    		position:relative;
    		width: 100%;
    		height: 100%;
    	}
    	.b1{
    		height: 300px;
    		width: 300px;
    		position:absolute;
    		left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			background-color: whitesmoke;
			border-radius: 12px 12px 12px 12px;
			/*box-shadow:0 0 0 gray;*/
			box-shadow: 8px 16px 60px gray;
    	}
		.top {
			height: 60px;
			background-color: white;
		}
		/*#parent{
			width: 100%;
			height: 100%;
		}*/
		.top1 {
			float: left;
			margin: 0 400px;
		}
		
		.top2 li {
			float: right;
			text-align: center;
			list-style: none;
			padding: 0 35px;
			line-height: 60px;
		}
		/*.banner{
			margin:0;
			padding:0px;
			
		}
		.slidershow{
			width: 700px;
			height: 400px;
			overflow:hidden;
			
		}
		.middle{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
		}
		.navigation{
			position: absolute;
			bottom: 20px;
			left:50%;
			transform: translate(-50%);
			display: flex;
		}
		.bar{
			width: 50px;
			height: 10px;
			border: 2px solid #fff;
			margin:6px;
			cursor: pointer;
			transition: 0.4s;
			
		}
		.bar:hover{
			background: #fff;
		}
		.input[name="r"]{
			position: absolute;
			visibility: hidden;
		}
		.slides{
			width: 500%;
			height: 100%;
			display: flex;
			
		}
		.slide{
			width: 20px;
			transition: 0.6px;
			
		}
		.slide img{
			width: 100%;
			height: 100px;
			
		}
		#r1:checked ~.s1{
			margin-left:0;
		}
		#r1:checked ~.s1{
			margin-left:20%;
		}
		#r1:checked ~.s1{
			margin-left:40%;
		}
		#r1:checked ~.s1{
			margin-left:60%;
		}
		#r1:checked ~.s1{
			margin-left:80%;
		}*/
		.hide {
			display: none;
		}
		
		.menu1 {
			position: relative;
		}
		
		#selecting {
			position: absolute;
			top: 20px;
			left: -80px;
			width: 200px;
			height: 30px;
		}
		
		.box {
			width: 800px;
			height: 500px;
			background-color: white;
			margin: auto auto;
			
			border:1px dashed palevioletred;
		}
		
		.big {
			width: 400px;
			height: 250px;
			margin: 20px 300px;
			background-color: white;
			border:1px dashed palevioletred;
		}
		
		.left {
			width: 200px;
			height: 250px;
			float: left;
		}
		
		.right {
			width: 200px;
			height: 250px;
			float: right;
		}
		
		.time {
			height: 50px;
		}
		
		.article {
			height: 100px;
		}
		
		.writer {
			height: 50px;
		}
		
		.redy {
			height: 100px;
		}
		
		.left {
			display: flex;
			justify-content: center;
			align-items: center;
		}