<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>白斌龙外挂销售</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery-3.3.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style>
        .fakeimg {
        height: 200px;
        background: #13E8E9;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>外挂销售</h1>
  <p>从最优秀出发</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">外挂销售</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#">页面 2</a></li>
        <li><a href="#">页面 3</a></li>

      </ul>
		<div id="purchaseDiv" align="right">
	  	 <ul> 
	       	<li><a class="btn btn-success" href="purchase.html">前往购买</a></li>
		 </ul>
 	    </div>
    </div>
  </div>
  
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>关于外挂</h2>
      <h5>外挂照片:</h5>
      <div class="fakeimg"><img src="/images/logo.png"/></div>
      <p>关于外挂的介绍..</p>
      <h3></h3>
      <p>描述文本。</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">链接 1</a></li>
        <li><a href="#">链接 2</a></li>
        <li><a href="#">链接 3</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div>
      <p>一些文本..</p>
      <p>文本</p>
      <br>
      <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div>
      <p>一些文本..</p>
      <p>文本</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>联系方式：qq--2230817302  iphone--13523327374  address--河南省安阳市轩辕镇</p>
</div>
</body>
</html>