<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>正在-付款</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin-right:auto;margin-left: auto ">
    <div class="card text-center" style="background-color: white;">
        <div class="card-header" style="font-size: larger">
            <span>&ensp;</span>
        </div>
        <div class="card-body">
<!--            <span th:text="${seesion.test}"></span>-->
            <p class="card-text" style="font-size: large">欢迎购买，出售的产品为虚拟数字产品， 一旦售出不给与退换！如有问题请联系客服 3341459510</p>
            <p class="card-text" style="font-size: large">扫码完成后请点击确认支付按钮</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">购买</h3>
        </div>
        <div class="panel-body">
            <form action="/purchaseSuccess" method="get">
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-usd"></span> 价格：<span
                            style=" color: #AA2222;"
                            class="trade-price">¥ 148.00</span>
                    </li>
                    <li class="list-group-item"><span style="font-size: large">购买数量 : (当前库存<span id="stock" th:text="${stock}">10</span>个)</span>
                        <input type="text" name="count" id="count" value=""
                               placeholder="请输入购买数量" class="form-control"
                               aria-label="Sizing example input" pattern="[1-9]" title="一次购买数量仅限在1-9之间"
                               aria-describedby="inputGroup-sizing-sm"/>
                    </li>
                    <li class="list-group-item"><span
                            style="font-size: large">qq号 :<span>(请输入正确，密钥将发送至此qq邮箱)</span></span>
                        <input type="text" name="qqNumber" id="qqNumber" value=""
                               placeholder="请输入密钥接收的qq号" class="form-control"
                               aria-label="Sizing example input" pattern="[1-9][0-9]{4,14}" title="请输入合法的qq号码"
                               aria-describedby="inputGroup-sizing-sm"/>
                    </li>
                    <span id="error" th:text="${error}"></span>
                    <li class="list-group-item"><span style="font-size: large">支付二维码：</span>
                        <img src="/img/alipay.png" th:width="200px" th:height="200px"/>
                        <img src="/img/wechat.png" th:width="200px" th:height="200px"/>
                    </li>
                </ul>
                <input class="btn btn-primary" type="submit" value="确认支付"/>
            </form>
        </div>

    </div>

</div>
</body>

</html>