<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>支付成功</title>
</head>
<body>
<form action="/payConfirm" method="get">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">购买</h3>
        </div>
        <ul>
            <li class="list-group-item"><span style="font-size: large">购买数量 :</span>
                <input type="text" name="count" id="count" value=""
                       placeholder="请输入购买数量" class="form-control"
                       aria-label="Sizing example input" pattern="-?[1-9]\d*" title="仅限数字"
                       aria-describedby="inputGroup-sizing-sm"/>
            </li>
            <li class="list-group-item"><span
                    style="font-size: large">qq号 :<span>(请输入正确，密钥将发送至此qq邮箱)</span></span>
                <input type="text" name="qqNumber" id="qqNumber" value=""
                       placeholder="请输入密钥接收的qq号" class="form-control"
                       aria-label="Sizing example input" pattern="[1-9][0-9]{4,14}" title="请输入合法的qq号码"
                       aria-describedby="inputGroup-sizing-sm"/>
            </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">支付成功！</h1>
        <p class="lead">点击后将密钥发送至邮箱</p>
        <hr class="my-4">
        <input class="btn btn-primary" type="submit" value="发送密钥"/>
    </div>
</form>
</body>
</html>